@import "tailwindcss";

@layer base {
  :root {
    --primary-rgb: 0, 240, 255;
  }

  body {
    @apply bg-black text-white antialiased overflow-x-hidden;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #222;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #333;
}